.main {
  text-align: center;
  margin-top: 75px;
}

.margin-top {
  margin: 75px;
}

#slang-button {
  margin: 25px;
}

#slang-details-card {
  margin: 1rem auto;
  margin-top: 75px;
  width: 25%;
}

#header {
  text-align: center;
  width: 25%;
  /* margin: 1rem auto; */
  margin-top: 250px;
  margin-left: 350px;
}

#modal-content {
  margin-left: 200px;
}

#modal-btn {
  margin-left: 200px;
}

#map {
  text-align: center;
}

.modal-about {
  margin-top: 200px;
  /* margin-left: 200px; */
}

