.main {
  text-align: center;
  margin-top: 75px;
}

.margin-top {
  margin: 200px;
}

#slang-button {
  margin: 25px;
}

#slang-details-card {
  margin-left: 90px;
}

#slang-details-container {
  margin: 1rem auto;
  margin-top: 200px;
  width: 25%;
}

/* #header {
  text-align: center;
  width: 25%;
  /* margin: 1rem auto; */
  /* margin-top: 250px;
  margin-left: 350px;
}  */

#modal-content {
  text-align: center;
  width: 25%;
  margin-top: 115px;
  margin-left: 728px;
}

/* #modal-btn {
  margin-left: 200px;
} */

#map {
  text-align: center;
  margin-top: 125px;
  margin-left: 350px;
}

.modal-about {
  margin-top: 200px;
  /* margin-left: 200px; */
}

